<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Result</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Here's the information about your favorite Movie!!</h1><br>
    <% movies.forEach(movieArray => { %>
        <% movieArray.forEach(movie => { %>
            <div>
                <h2><%= movie.title %></h2>
                <p>Original Title: <%= movie.original_title %></p>
                <p>Release Date: <%= movie.release_date %></p>
                <p>Rating: <%= movie.vote_average %> (Votes: <%= movie.vote_count %>)</p>
                <p>Plot Summary: <%= movie.overview %></p>
                <% if (movie.poster_path) { %>
                    <img src="https://image.tmdb.org/t/p/w500<%= movie.poster_path %>" alt="<%= movie.title %> Poster">
                <% } else { %>
                    <p>No image available</p>
                <% } %>
            </div>
        <% }); %>
    <% }); %>
    <a href="/">HOME</a>
</body>
</html>


